 * {
     margin: 0%;
     padding: 0%;
 }

 html, body {
     background-color: darkgray;
     min-width: 100vh;
 }

 header {
     background-color: black;
     color: white;
     text-align: center;
 }

 header > h1 {
     padding-top: 50px;
     font-variant: small-caps;
    
 }
 
 header > p {
     padding-bottom: 50px;
 }

 header a, footer a {
     text-decoration: none;
     color: white;
     font-weight: bolder;
 }
 header a:hover, footer a:hover {
     text-decoration: underline;
 }

 section {
     padding-top: 10vh;
     padding-bottom: 10vh;
     padding-left: 30px;
     line-height: 2em;
 }

 section.normal {
     background-color: white;
     color: black;

 }

 section.imagem {
     color: white;
     background-color: rgb(58, 56, 56)
 }

 section.imagem > p {
     background-color: rgba(0, 0, 0, 0.377);
     width: 400px;
 }

 footer {
     background-color: black;
     text-align: center;
     padding: 10px;
     color: white;
 }